{
    "fkooman@tuxed.net": {
        "cn": [
            "Fran\u00e7ois Kooman"
        ], 
        "eduPersonEntitlement": [
            "urn:x-oauth:entitlement:applications", 
            "foo", 
            "bar"
        ]
    }
}
