body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eee;
}

div#wrapper {
    max-width: 480px;
    margin: 2em auto;
}

div#container {
    max-width: 410px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px 15px 15px 25px;
    -moz-box-shadow:    0 0 3px 0 #8c8c8c;
    -webkit-box-shadow: 0 0 3px 0 #8c8c8c;
    box-shadow:         0 0 3px 0 #8c8c8c;
}

div#userInfo {
    float: right;
    font-size: 75%;
}

table#detailsTable {
    width: 100%;
    font-size: 85%;
    display: none;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

tbody tr:nth-child(2n+1) td, tbody tr:nth-child(2n+1) th {
    background-color: rgb(235, 235, 235);
}

td, th {
    padding: 5px;
}

ul.permissionList {
    margin: 0 0 0 15px;
    padding: 0;
}

th {
    vertical-align: top;
    text-align: left;
}

input.formButton {
    float: right;
}

label {
    display: block;
}

div.errorBox, div.warnBox {
    border: 1px solid #888;
    background-color: #f3a4a4;
    color: black;
    padding: 10px;
    margin: 10px 0;
    font-size: 85%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.errorBox {
    background-color: #f3a4a4;
}

div.warnBox {
    background-color: #ffc;
}

div.httpCode {
    float: right;
    display: absolute;
    font-size: 85%;
}
